*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}
body{
    text-align: center;
    position: absolute;
    top: 50%;
    left:50%;
    transform: translate(-50%,-50%);
}
    
  

header{
    
    box-shadow: black ;

}
h1{
    margin-bottom:50px ;
    box-shadow: 5px 5px 5px rgba(0,0,0, 0.1);
    border-radius: 15px;
    padding: 10px;
}
main{
    display: block;;
    width: max-content;
    text-align: center;
    box-shadow: 5px 5px 5px rgba(0,0,0, 0.1);
    border-radius: 15px;
    padding: 50px;
}
label{
    margin: 0px 5px 0 15px;
}
button{
    margin: 20px 0px 20px;
    padding: 5px;
    width: 80px;
    background-color: white;
    border-radius: 15px;
    
    
}
input[type="number"]{
    -moz-appearance: textfield;
    border: none;
    border-bottom: 1px solid ;
    border-right: 1px solid ;
    border-radius: 7px;
}